{% extends "_base.html" %}

{% block title %}Books{% endblock title %}

{% block content %}
<div class="container-search">
    <form class="d-flex" action="{% url 'search_results' %}" method="get">
        <input class="form-control me-2" type="search" name="q" placeholder="Search Books" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<div class="grid-container">

    {% for book in book_list %}
    <a href="{{ book.get_absolute_url}}">
        <div class="grid-item">
            {% if book.cover %}
            <img class="bookcover" src="{{ book.cover.url }}">

            {% endif %}
            <p>{{ book.title}}</p>
        </div>
    </a>

    {% endfor %}
</div>
<div style="text-align: center;">
    <a href="{% url 'book_new' %}" class="btn btn-outline-secondary">+Add New Book</a>
</div>
{% endblock content %}